* {
  margin: 0;
  padding: 0;
}

body, html {
    height: 100%;
}

body {
    background: #111;
    color: #fff;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    position: relative;
    width: 1225px;
    height: 840px;
    background: url(img/map.jpg) no-repeat;
}

#searchBtn {
    position: absolute;
    left: 30px;
    bottom: 20px;
    width: 190px;
    height: 190px;
    cursor: pointer;
    background: url(img/btn_search.png) no-repeat;
    background-size: 190px;
}
#searchBtn::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(img/btn_search_on.png) no-repeat;
    background-size: 190px;
    opacity: 0;
    transition: all 300ms ease-in-out;
}
#searchBtn:hover::after {
    opacity: 1;
}

#clearBtn {
    position: absolute;
    left: 230px;
    bottom: 60px;
    width: 95px;
    height: 95px;
    cursor: pointer;
    background: url(img/btn_clear.png) no-repeat;
    background-size: 95px;
}
#clearBtn::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(img/btn_clear_on.png) no-repeat;
    background-size: 95px;
    opacity: 0;
    transition: all 300ms ease-in-out;
}
#clearBtn:hover::after {
    opacity: 1;
}

#inspector {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px;
    width: 250px;
    background: rgba(0, 0, 0, 0.65);
}

.ctrl {
    position: absolute;
}
