* {
  margin: 0;
  padding: 0;
}

.node {
    position: absolute;
    left: 0;
    top: 0;

    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: solid 1px #666;
}

#inspector {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 15px;
    width: 250px;
    border: solid 1px #999;
}
